In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one -0.985783 -0.960021
1    a  two  0.698145 -0.173578
2    b  one -0.227873 -0.630958
3    b  two -0.577637  0.140503
4    a  one  1.884057 -0.959209

In [2]:
gb = df.groupby(by='key1')
gb.sum()

           key2     data1     data2
key1
a     onetwoone  1.596419 -2.092808
b        onetwo -0.805510 -0.490456

In [3]:
gb1 = df.groupby(by='key1')[['data1','data2']]
gb1.sum()

         data1     data2
key1
a     1.596419 -2.092808
b    -0.805510 -0.490456