In [12]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.943545  0.000917
1    a  two  0.467712 -0.171152
2    b  one  0.675985 -1.211241
3    b  two -1.774639  0.458458
4    a  one  1.242412  1.597228

In [13]:
#Series.groupby()
s_gb = df['data1'].groupby(by=df['key1'])
len(s_gb)
s_gb.sum()

key1
a    2.653669
b   -1.098655
Name: data1, dtype: float64

In [14]:
s_gb1 = df['data1'].groupby(by=[df['key1'],df['key2']])
len(s_gb1)
s2d = s_gb1.sum()
s2d.unstack()

key2       one       two
key1
a     2.185956  0.467712
b     0.675985 -1.774639

In [15]:
#DataFrame.groupby() #比較好用
d_gb = df.groupby(by='key1')
d_gb['data1'].sum()

key1
a    2.653669
b   -1.098655
Name: data1, dtype: float64

In [16]:
#DataFrame.groupby() #比較好用
s2d1 = df.groupby(by=['key1','key2'])['data1'].sum()
s2d1.unstack()

key2       one       two
key1
a     2.185956  0.467712
b     0.675985 -1.774639