In [3]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.786812 -2.464440  0.315740
台中 -0.970197 -0.614422  0.303364
台南 -0.928615  1.460100  0.482720
高雄  0.317164 -1.034481  1.395120

In [4]:
def formap(value):
    return f'{value:.3f}%'

frame.map(formap)

          b        d       e
台北   0.787%  -2.464%  0.316%
台中  -0.970%  -0.614%  0.303%
台南  -0.929%   1.460%  0.483%
高雄   0.317%  -1.034%  1.395%