In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])

In [2]:
#dataFame的實體方法
frame.abs()

           b         d         e
台北  1.126731  0.640602  0.872469
台中  2.136204  1.052632  0.434371
台南  1.482235  0.945020  0.819330
高雄  0.172300  0.229370  2.371515

In [3]:
#使用numpy function
np.abs(frame)

           b         d         e
台北  1.126731  0.640602  0.872469
台中  2.136204  1.052632  0.434371
台南  1.482235  0.945020  0.819330
高雄  0.172300  0.229370  2.371515

In [5]:
frame

           b         d         e
台北 -1.126731 -0.640602  0.872469
台中  2.136204  1.052632  0.434371
台南  1.482235  0.945020  0.819330
高雄 -0.172300  0.229370 -2.371515

In [6]:
frame['b'].max() - frame['b'].min()

np.float64(3.2629353445635765)

In [ ]:
def abc(s):
    return s.max() - s.min()

frame.apply(abc)

In [ ]:
frame.apply(abc,axis=1)